[Unit]
Description=Daphne finance backend
After=network.target auditd.service finance.service
Before=nginx.service

[Service]
Environment=VENV_DIR=/opt/venvs/finance
Environment=DATA_DIR=/var/www/finance
Environment=DATABASE_PATH=/var/www/finance/db.sqlite3
Environment=DJANGO_SETTINGS_MODULE=finance.settings

User=www-data
Group=www-data
WorkingDirectory=/var/www/finance

PermissionsStartOnly=true
ExecStart=/opt/venvs/finance/bin/django-admin bot
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
Alias=finance-bot.service